__pycache__
.ipynb_checkpoints
.vscode
.agents

old

/files/data/*
/files/results/*
/files/gifs/
/files/others/
/files/thesis/

*.tf

test.ipynb
AGENTS.md
cifar10_cnn_model_00.h5
cifar100_dnn_model_00.h5

!/files/data/README.md
!/files/results/README.md
