__pycache__
.ipynb_checkpoints
.vscode
.agents
.tmp

old

allocation_study
gist_memory

data
results
reports
gifs
others
/thesis

*.tf

test.ipynb
AGENTS.md
cifar10_cnn_model_00.h5
cifar100_dnn_model_00.h5

!data/README.md
!results/README.md
